#!/bin/bash


#SBATCH --job-name=ASODesignPipeline   # Job name
#SBATCH --ntasks=1                 # Number of tasks (processes)
#SBATCH --cpus-per-task=64          # Number of CPU cores per task
#SBATCH --mem=32G                   # Memory per node
#SBATCH --time=00:30:00            # Time limit (hh:mm:ss)
#SBATCH --partition=comp       # Partition to submit to
#SBATCH --account=root        # Your account name


# Change to the directory where your script is located
cd path/to/ASODesignPipline

ml load bowtie2

ml load viennarna

source path/to/venv/bin/activate

python main.py ENSG00000133703 16 